<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			<p>&copy 2025 SysNetS Lab</p>
			<p>Design inspired from <a href="https://www.allanlab.org/" target="_blank">Allan Lab <i class="fa fa-external-link"></i>.</a></p>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Erik Jonsson School of Engineering and Computer Science<br />
		  800 W. Campbell Road <br />
		  Richardson, TX 75080-3021<br />
            (<a href="https://www.google.com/maps/place/Erik+Jonsson+School+of+Engineering+and+Computer+Science+West+Building+(ECSW)/@32.9860116,-96.7540975,960m/data=!3m2!1e3!4b1!4m6!3m5!1s0x864c21a3026e56bd:0x6cfc18b1b07983f0!8m2!3d32.9860071!4d-96.7515226!16s%2Fg%2F11h0000kkv?entry=ttu&g_ep=EgoyMDI1MDQxNC4xIKXMDSoJLDEwMjExNjQwSAFQAw%3D%3D" target="_blank">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
